
stages {
    hello {
        procs=4
    }
}

environments {
   fast {
      stages {
        hello {
            procs=8
        }
      }
   }

   reallyfast {
       stages {
           hello {
               procs=8
           }
       }

       commands {
           hi {
              procs=12
           }
       }
   }
}
