tools {

  samtools {
     probe = "%bin% 2>&1 | grep Version | awk '{ print \$2 }'"
     desc = "A suite of utilities for sorting, indexing, viewing and calling variants on NGS data"
     link = "http://samtools.sourceforge.net/"
  }

  bwa {
     probe = "%bin% 2>&1 | grep Version | awk '{ print \$2 }'"
     desc = "BWA is a software package for mapping low-divergent short read sequences against a large reference genome"
     link = "http://bio-bwa.sourceforge.net/"
  }

  bowtie {
    probe = "%bin% --version | grep 'bowtie version'| awk '{ print \$3 }'"
  }
  
  fastqc {
    probe = "%bin% --version | awk '{ print \$2 }'"
  }

  coverageBed {
    probe = "%bin% coverageBed 2>&1 | grep Version | grep -o '[0-9\\.]*'"
  }

  fastx_clipper {
    probe = "%bin% -h | grep 'Part of' | grep -o '[0-9]\\.[0-9]*'"
    link = "http://hannonlab.cshl.edu/fastx_toolkit/index.html"
    desc = "Removes sequencing adapters / linkers from reads based on sequence"
  }

  'convert2annovar.pl' {
     probe="%bin% | grep Version | grep -o '[0-9]\\{4\\}-[0-9]\\{2\\}-[0-9]\\{2\\}'"
     link="http://www.openbioinformatics.org/annovar/"
  }
  
  'summarize_annovar.pl' {
     probe="%bin% | grep Version | grep -o '[0-9]\\{4\\}-[0-9]\\{2\\}-[0-9]\\{2\\}'"
     link="http://www.openbioinformatics.org/annovar/"
  }
  
  bowtie2 {
    probe = "%bin% --version | grep 'bowtie2-align version'| awk '{ print \$3 }'"
  }

  GenomeAnalysisTK {
    probe = "java -Xmx64m -jar %bin% 2>&1 | grep 'Compiled' | grep -o 'v[-0-9\\.a-z]*'"
    link = "http://www.broadinstitute.org/gsa/wiki/index.php/Home_Page"
    desc = "A suite of tools for working with human medical resequencing projects"
  }

  MarkDuplicates {
    probe = "ls `dirname %bin%`/picard-*.jar | grep -o '[0-9]\\.[0-9]*'"
    link = "http://picard.sourceforge.net/command-line-overview.shtml#MarkDuplicates"
    desc = "Finds and removes PCR duplicates from SAM / BAM alignments"
  }

  signalp {
    probe = "signalp -v | cut -d ',' -f1"
    link = "http://www.cbs.dtu.dk/services/SignalP/"
    desc = "SignalP predicts the presence and location of signal peptide cleavage sites in amino acid sequences from different organisms."
  }

  ls {
    probe = "%bin% --version | grep coreutils | awk '{ print \$4 }'"
    desc = "lists information about files and directories"
    link = "http://www.gnu.org/software/coreutils/manual/coreutils#ls-invocation"
  }
}
