tools {

  samtools {
     probe = "samtools 2>&1 | grep Version | awk '{ print \$2 }'"
  }

  bwa {
     probe = "bwa 2>&1 | grep Version | awk '{ print \$2 }'"
  }

  bowtie {
    probe = "bowtie --version | grep 'bowtie version'| awk '{ print \$3 }'"
  }

  bowtie2 {
    probe = "bowtie2-align --version | grep 'bowtie2-align version'| awk '{ print \$3 }'"
  }

  GenomeAnalysisTK {
    probe = "java -Xmx64m -jar %bin% 2>&1 | grep 'Compiled' | grep -o 'v[-0-9\\.a-z]*'"
    link = "http://www.broadinstitute.org/gsa/wiki/index.php/Home_Page"
    desc = "A suite of tools for working with human medical resequencing projects"
  }

  signalp {
    probe = "signalp -v | cut -d ',' -f1"
    link = "http://www.cbs.dtu.dk/services/SignalP/"
    desc = "SignalP predicts the presence and location of signal peptide cleavage sites in amino acid sequences from different organisms."
  }

  ls {
    probe = "%bin% --version | grep coreutils | awk '{ print \$4 }'"
    desc = "lists information about files and directories"
    link = "http://www.gnu.org/software/coreutils/manual/coreutils#ls-invocation"
  }
}
