tools {
  samtools {
     probe = "$bin 2>&1 | grep Version | awk '{ print $2 }'"
  }
  bwa {
     probe = "$bin 2>&1 | grep Version | awk '{ print $2 }'"
  }
  bowtie {
    probe = "$bin --version | grep 'bowtie version'| awk '{ print $3 }'"
  }
  bowtie2 {
    probe = "$bin --version | grep 'bowtie2-align version'| awk '{ print $3 }'"
  }
  GenomeAnalysisTK.jar {
    probe = $/java -Xmx64m -jar $bin 2>&1 | grep 'Compiled' | grep -o 'v[-0-9\.a-z]*'/$
  }
}
