.wy-nav-content {
    max-width: 1200px !important;
}
h1 {
    font-size: 32px;
}

h2 {
    font-size: 20px;
    font-weight: 500;
}

a {
    color: darkgreen;
}
.container {
    max-width: 1400px;
}

.bg-primary {
    background-image: none !important;
    background-color: #64737b !important;
}

